@theme {
    /* Font family */
    --font-family-base: Roboto Slab;
    --font-family-secondary: "Poppins", "Inter", sans-serif;
  
    /* Font sizes */
    --text-xs: 0.75rem;  /* 12px */
    --text-sm: 0.875rem; /* 14px */
    --text-base: 1rem;   /* 16px */
    --text-lg: 1.25rem;  /* 20px */
    --text-xl: 1.75rem;  /* 28px */
    --text-2xl: 2rem;    /* 32px */
    --text-3xl: 2.25rem; /* 36px */
    --text-4xl: 2.5rem;  /* 40px */
    --text-5xl: 3rem;    /* 48px */
    --text-6xl: 3.5rem;  /* 56px */
    --text-7xl: 4.5rem;  /* 72px */
  
    /* Weights */
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
  }
  